<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- replication groups supported , just enter <add key="CacheServiceAddress" value="cacheServerAddress1, cacheServerAdress2, cacheServerAdress3 " /> where cacheServerAddress1,2,3 are
    the adrresses of your cache servers -->
    <add key="CacheServiceAddress" value="localhost" />
    <add key="ConnectionPort" value="6379"/>
  </appSettings>
</configuration>